.body{
  margin: 0;
  background: #fffdf8;
  color: #3d362f;
}
.hero{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}
.subtitle{
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.hero h1{
  font-size: 64px;
  margin: 20px 0px;
}
.hero h1 span{
  font-family: cursive;
  margin: 0 10px;
  color: #c9a227;
}
.date{
  font-size: 24px;
  letter-spacing: 3px;
}
.intro{
  max-width: 500px;
  font-size: 18px;
  line-height: 1.6;
}

.hero-image{
  width:280px;
  height: 380px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
}

.hero-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countdown{
  padding: 100px 20px;
  text-align: center;
  background:#;
}